<h2> Welcome to Mama Joe's </h2>
<div>
	<li><%= link_to 'Pizzas Catalog', pizzas_path %></li>
	<li><%= link_to 'Recipes Catalog', recipes_path %></li>
	<li><%= link_to 'Ingredients Catalog', ingredients_path %></li>
	<li><%= link_to 'Crusts Catalog', crusts_path %></li>
</div>
